* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background: #ffffff;
  padding: 32px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: red; 
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  font-family:serif;
}
input[type="text"],
input[type="password"] {
  padding: 12px;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}
button {
  margin-top: 20px;
  padding: 12px;
  background-color: red;
  color: rgb(214, 150, 22);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: dark-red;
}
button:active {
  background-color: dark-red;
}